header {
  background-color: #343a40;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
    

.header-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #1fa5e1;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
    

.logo {
  width: auto;
  height: 100px;
  margin-right: 10px;
}    
    
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }        
  .header-button {
    margin-top: 10px;
    margin-left: 0;
  }
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    margin-bottom: 200px; 
  }
  
  body{
    background-color: yellow;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color:#2BC4A8;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color:#fff;
  }
  
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
  }
  
  button[type="submit"],
  button.edit-button,
  button.delete-button {
    background-color: #1fa5e1;
    color: #fff;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  form{
    margin-bottom: 20px;;
  }
  
  button.edit-button {
    background-color: #2196F3;
  }
  
  button.delete-button {
    background-color: #f44336;
  }
  
  .comment {
    background-color: #ccc;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .comment p.name {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .comment p.comment-text {
    margin-top: 0;
  }

  h1{
    text-align: center;
    color: #2BC4A8;
}
.tabelaoitavas, th, td{
    border: 1px solid #98D0B8;
    border-collapse: collapse;
    padding: 10px;
    background-color: aliceblue;
    border-width: 2px;
    margin: 0 auto;
}
td{
    text-align: center;
}
.tabelaquartas{
    border: 1px solid #98D0B8;
    border-collapse: collapse;
    padding: 10px;
    border-width: 2px;
    margin: 0 auto;
}
h2{
    text-align: center;
    color: #2BC4A8;
}
.tabelasemis{
    border: 1px solid #98D0B8;
    border-collapse: collapse;
    padding: 10px;
    border-width: 2px;
    margin: 0 auto;
}
.final{
    border: 1px solid #98D0B8;
    border-collapse: collapse;
    padding: 10px;
    border-width: 2px;
    margin: 0 auto;
    margin-bottom: 200px; 
}
th{
    background-color: #98D0B8;
}
body{
    background-color: #343a40;
}
.highlight {
    background-color: yellow;
  }
.pesquisatime{
    margin: o auto;
}

#search {
    width: 30%; 
  }
  